<!-- <p>Você esqueceu sua senha? utilize esse token: {{token}}</p> -->
<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .value {
        padding: 10px;
        margin: 2.5px;
        background: #8257E6;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }

    .level {
        display: flex;
        margin: 10px;
        justify-content: space-between;
        width: 350px;
    }
</style>

<div class="container">
    <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>

    <h3>{{title}}</h3>
    <br />
    <strong>{{description}}</strong>

    <div class="">
        <p>Você esqueceu sua senha?
            <a class="value" href="{{link}}/reset/{{token}}">Clique aqui</a>
            para recuperar sua senha de forma segura.
        </p>
    </div>

    <br />
    <br />
    <h3>Equipe | <strong>Eu mesmo</strong></h3>
</div>